.container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}
.cardStyle{
    margin: 60px 60px;
    width: 170px;
}
.combineLabelStyle{
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 15px;
}
.submitButton{
  width: 150px;
  color: #b266b9;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}